{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">
    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }

        #dashboard-top-spacer {
            height: 25px;
        }

        #referrals .leaderboard_points {
            margin-top: 5px;
        }

        .well { height: 380px; overflow: hidden; }

        .dashboard-tip-spot {
            position: absolute;
            z-index: 50;
            bottom: 30px;
            right: 20px;
            height: 26px;
            width: 26px;
            margin-top: 0px;
            padding-top: 3px;
            border-radius: 13px;
            text-align: center;
            background-color: #E6E7E8;
            color: #A7A9AB;
        }

        @media (max-width: 768px) {
          .dashboard-tip-spot { bottom: 10px; }
        }

        .dashboard-tip-spot-content {
            display: none;
        }

        .warning-button {
            display: block;
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid #47bccc;
            border-radius: 5px;
            background-color: #47c1d2;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }

        .circle {
            display: inline-table;
            margin-right: 5px;
            background: #000;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

        .display_name:hover{
          cursor: pointer;
        }
    </style>

{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="dashboard-top-spacer">&nbsp;</div>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Tier</th>
                    <th scope="col">Point Balance</th>
                    <th scope="col">Phone Number(s)</th>
                </tr>
            </thead>
            <tbody id='table_body'></tbody>
        </table>

        <div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>

    </div>

    <script>
      var fullData = {{resp}}
      var output='';
      for(var i=0; i<fullData.length; i++) {
          output+='<tr><th class="display_name" scope="row" onclick="showLocation(\''+fullData[i]["display_name"]+'\', \''+fullData[i]["location"]+'\')">'+fullData[i]["display_name"]+'</th><td ><div class="circle" style="background:'+fullData[i]["tier"]+'"></div>'+fullData[i]["tier"]+'</td><td>'+fullData[i]["point_balance"]+'</td><td>'+fullData[i]["phone_number"].replace(/,/gi, "</br>")+'</td></tr>';
      }
      document.getElementById("table_body").innerHTML = output;

      function showLocation(name, location) {
        $("#locationModal .modal-title").html(name + "'s Location:");
        $("#locationModal .modal-body").html(location);
        $("#locationModal").modal({show: true});
      }
    </script>

{% endblock %}
